<section
  id="edge"
  class="bg-[#D6D6D6] flex flex-col justify-center items-center xl:h-[750px] xl:pt-0 pt-10 xl:pb-0 pb-[50px] xl:gap-[50px] gap-5 xl:px-0 px-2.5"
>
  <h5 class="xl:text-center xl:self-auto self-start">Наши Преимущества</h5>

  <div class="xl:w-[1185px] xl:flex grid grid-cols-2 flex-col xl:gap-x-[50px] gap-x-2.5 xl:xl:gap-y-[50px] gap-y-5 items-center">
    <div class="xl:flex contents justify-between xl:w-full">
      <load
        src="src/components/Edge/Card.html"
        number="01"
        text="Ремонт выполняют<br/> квалифицированные<br/> специалисты"
      />
      <load
        src="src/components/Edge/Card.html"
        number="02"
        text="Применяем<br/> оригинальные<br/> запасные части"
      />
      <load
        src="src/components/Edge/Card.html"
        number="03"
        text="Гарантируем качество,<br/> гарантируем<br/> оперативность"
      />
      <load
        src="src/components/Edge/Card.html"
        number="04"
        text="Конкурентные<br/>цены"
      />
    </div>

    <div class="xl:flex contents xl:mx-0 gap-[197px]">
      <load
        src="src/components/Edge/Card.html"
        number="05"
        text="Возможность<br/> отсрочки платежа"
      />
      <load
        src="src/components/Edge/Card.html"
        number="06"
        text="Возможность<br/>доставки"
      />
      <load
        src="src/components/Edge/Card.html"
        number="07"
        text="Обменный<br/>фонд"
      />
    </div>
  </div>
</section>
