<section
  class="xl:bg-[url('bgFormBlock.webp')] bg-[url('bgFormBlockMobile.webp')] bg-no-repeat bg-cover xl:h-[720px] flex justify-center items-center"
>
  <div class="xl:container-main">
    <div
      class="bg-[#00000099] w-fit pt-10 xl:pb-10 pb-[50px] xl:px-[30px] px-5 xl:space-y-6 space-y-3"
    >
      <p
        class="xl:leading-[52px] leading-[44.2px] xl:text-[40px] text-[34px] font-semibold uppercase text-white"
      >
        Оставьте заявку<br />
        на ремонт
      </p>

      <p
        class="xl:text-[22px] text-lg xl:leading-[28.6px] leading-[23.4px] text-white"
      >
        Или звоните нам прямо сейчас, и мы ответим<br class="xl:block hidden" />
        на ваши вопросы
      </p>

      <load src="src/components/Form.html" />
    </div>
  </div>
</section>
