<div class="flex flex-col items-center xl:w-auto">
  <span
    class="border-[3px] relative z-[1] rounded-full border-main bg-white xl:w-[61px] w-[52px] xl:h-[61px] h-[52px] flex justify-center items-center xl:-mb-[30px] -mb-[26px] xl:text-[40px] text-[34px] text-center font-medium xl:leading-[52px] leading-[44.2px]"
  >
    {=$number}
  </span>

  <div
    class="stage-card-shadow bg-white xl:w-auto w-full xl:pt-0 pt-[50px] xl:h-[280px] xl:pb-0 pb-[30px] xl:px-[25px] px-5 border-r-[3px] border-main flex flex-col justify-center items-center gap-2.5 text-center"
  >
    <p class="xl:text-2xl text-lg xl:leading-[28.8px] leading-[21.6px] font-bold">{=$title}</p>

    <p class="text-lg leading-[21.6px]">{=$desc}</p>
  </div>
</div>
