<section
  id="stages"
  class="xl:h-[753px] bg-[#F0F0F0] flex xl:py-0 py-[50px] xl:justify-center xl:items-center"
>
  <div class="container-main flex-col xl:gap-[50px] gap-5 flex items-center">
    <h6 class="text-center">Этапы работы</h6>

    <div class="grid xl:grid-cols-5 grid-cols-1 xl:gap-[30px] gap-2.5">
      <load
        src="src/components/Stages/Card.html"
        number="1"
        title="Заявка"
        desc="Наш специалист посредством телефонного звонка принимает заявку на ремонт и договаривается с Заказчиком о способе и сроке доставки узла в ремонт"
      />
      <load
        src="src/components/Stages/Card.html"
        number="2"
        title="Поиск неисправностей"
        desc="Специалисты производят внешний осмотр, разборку, дефектовку агрегата. Выявляют неисправности"
      />
      <load
        src="src/components/Stages/Card.html"
        number="3"
        title="Согласование стоимости"
        desc="Согласовываем<br/>с Заказчиком стоимость ремонта"
      />
      <load
        src="src/components/Stages/Card.html"
        number="4"
        title="Выполняем ремонт"
        desc="Корпусные части, подузлы и детали моются, подвергаются контролю. Неисправные заменяются. Выполняются необходимые ремонтные работы, сборка и испытание агрегата"
      />
      <load
        src="src/components/Stages/Card.html"
        number="5"
        title="Отгрузка"
        desc="Отремонтированный агрегат передается Заказчику. Возможна доставка транспортной компанией либо Исполнителем. Оформляется гарантия"
      />
    </div>

    <button class="main-button">Оставить заявку</button>
  </div>
</section>
