<section id="service" class="xl:space-y-[30px] space-y-5">
  <h2 class="text-center">Услуги</h2>

  <div class="xl:space-y-[50px] space-y-5 xl:leading-[28.8px] leading-[21.6px] xl:text-2xl text-lg font-bold">
    <p class="text-center">
      Оказываем услуги по ремонту компонентов автотранспортных средств,
      оборудования<br />
      общего и специального назначения
    </p>

    <div class="grid xl:grid-cols-3 grid-cols-1 gap-6">
      <load
        src="src/components/Service/Card.html"
        title="Сельхозтехники"
        img="service1.webp"
      />

      <load
        src="src/components/Service/Card.html"
        title="Дорожно-строительной техники"
        img="service2.webp"
      />

      <load
        src="src/components/Service/Card.html"
        title="Грузовой техники"
        img="service3.webp"
      />
    </div>
  </div>
</section>
