<main
  class="xl:mb-[100px] mb-12 xl:h-[860px] xl:bg-[url('bgMain.webp')] bg-[url('bgMainMobile.webp')] bg-no-repeat bg-cover flex justify-center items-center xl:pt-0 pt-[103px] xl:pb-0 pb-[52px]"
>
  <div class="container-main flex xl:justify-between xl:flex-row flex-col gap-5">
    <div class="xl:space-y-11 xl:flex-shrink-0">
      <div class="xl:space-y-10 space-y-5">
        <h1 class="flex flex-col xl:gap-2 gap-1">
          <span>Ремонт компонентов</span><span>транспортных средств</span>
        </h1>

        <div
          class="bg-[#00000033] border border-main backdrop-blur-[3px] xl:space-y-5 space-y-2 xl:p-5 p-2.5 xl:text-[26px] text-lg font-medium xl:leading-[31.2px] leading-[21.6px] text-white uppercase"
        >
          <p>
            сельхозтехники, спецтехники, строительной техники,<br />грузовых и
            легковых автомобилей
          </p>

          <p>белорусских, российских и зарубежных производителей</p>
        </div>

        <button class="xl:flex hidden main-button">Записаться на ремонт</button>
      </div>
    </div>

    <div class="xl:space-y-2.5 space-y-1">
      <div class="grid xl:grid-cols-2 grid-cols-1 justify-center items-center xl:gap-2.5 gap-1">
        <load
          src="src/components/Main/Card.html"
          text="ДВИГАТЕЛЕЙ ВНУТРЕННЕГО<br/>СГОРАНИЯ, КОРОБОК ПП,<br/>РЕДУКТОРОВ"
          class="xl:h-[129px]"
        />
        <load
          src="src/components/Main/Card.html"
          text="СТАРТЕРОВ,<br/>ГЕНЕРАТОРОВ, ТНВД"
          class="xl:h-[129px]"
        />
      </div>

      <div class="grid xl:grid-cols-2 grid-cols-1 justify-center items-center xl:gap-2.5 gap-1">
        <load
          src="src/components/Main/Card.html"
          text="ТУРБОКОМПРЕССОРОВ,<br/>ПНЕВМОКОМПРЕССОРОВ"
          class="xl:h-[90px]"
        />
        <load
          src="src/components/Main/Card.html"
          text="ГИДРО: НАСОСОВ,<br/>МОТОРОВ, ЦИЛИНДРОВ"
          class="xl:h-[90px]"
        />
      </div>
    </div>

    <button class="xl:hidden flex main-button">Записаться на ремонт</button>
  </div>
</main>
