<section id="recomend" class="xl:space-y-[30px] space-y-5">
  <h6 class="text-center">Нас рекомендуют</h6>

  <div class="xl:space-y-[50px] space-y-5">
    <p class="text-center xl:text-2xl text-lg xl:leading-[28.8px] leading-[21.6px]">
      <span class="font-bold">Самым</span> большим подтверждением того, что мы
      помогаем в работе нашим Заказчикам, является их многократное обращение к
      нам
    </p>

    <div class="grid xl:grid-cols-3 grid-cols-1 xl:gap-11 gap-3">
      <div class="xl:space-y-6 space-y-3">
        <load
          src="src/components/Recomend/Card.html"
          img="recomend1.webp"
          title=" ОАО Управляющая компания холдинга «Забудова»"
        />

        <load
          src="src/components/Recomend/Card.html"
          img="recomend2.webp"
          title="ОАО «Лидский молочно-консервный комбинат»"
        />

        <load
          src="src/components/Recomend/Card.html"
          img="recomend3.webp"
          title="Лепельский МКК"
        />

        <load
          src="src/components/Recomend/Card.html"
          img="recomend4.webp"
          title="УП «ОршаСырЗавод»"
        />

        <load
          src="src/components/Recomend/Card.html"
          img="recomend5.webp"
          title="ОАО «Поставский молочный Завод»"
        />

        <load
          src="src/components/Recomend/Card.html"
          img="recomend6.webp"
          title="КСУП «Экспериментальная база «Октябрь»"
        />

        <load
          src="src/components/Recomend/CardNotImage.html"
          title="ОАО «Команина»"
        />
      </div>

      <div class="xl:space-y-6 space-y-3">
        <load
          src="src/components/Recomend/Card.html"
          img="recomend7.webp"
          title="ОАО «Стародорожский райагросервис»"
        />
        <load
          src="src/components/Recomend/Card.html"
          img="recomend8.webp"
          title="ДРСУ-108 г. Дубровно"
        />
        <load
          src="src/components/Recomend/Card.html"
          img="recomend9.webp"
          title="КУПП «Боровка»"
        />
        <load
          src="src/components/Recomend/Card.html"
          img="recomend10.webp"
          title="ОАО «Жорновка-Агро»"
        />
        <load
          src="src/components/Recomend/Card.html"
          img="recomend11.webp"
          title="Филиал «Заря» ЗАО «Витебскагропродукт»"
        />
        <load
          src="src/components/Recomend/Card.html"
          img="recomend12.webp"
          title="УП «Толочинский Элеватор-Агро»"
        />
        <load
          src="src/components/Recomend/CardNotImage.html"
          title="Сенненское РАЙПО"
        />
      </div>

      <div class="xl:space-y-6 space-y-3">
        <load
          src="src/components/Recomend/Card.html"
          img="recomend13.webp"
          title="ОАО «Солигорская автобаза»"
        />
        <load
          src="src/components/Recomend/Card.html"
          img="recomend14.webp"
          title="СПК «Лариновка»"
        />
        <load
          src="src/components/Recomend/Card.html"
          img="recomend15.webp"
          title="ОАО «Сватки»"
        />
        <load
          src="src/components/Recomend/Card.html"
          img="recomend16.webp"
          title="Белыничское УКП «Жилкомхоз»"
        />
        <load
          src="src/components/Recomend/Card.html"
          img="recomend17.webp"
          title="ДРСУ-213 г. Глуск"
        />
        <load
          src="src/components/Recomend/Card.html"
          img="recomend18.webp"
          title="Оршанский хлебозавод"
        />
        <load
          src="src/components/Recomend/CardNotImage.html"
          title="КУСХП «Зарубы»"
        />
      </div>
    </div>
  </div>
</section>
