<section id="recomend" class="space-y-[30px]">
  <h6 class="text-center">Нас рекомендуют</h6>

  <div class="space-y-[50px]">
    <p class="text-center text-2xl leading-[28.8px]">
      <span class="font-bold">Самым</span> большим подтверждением того, что мы
      помогаем в работе нашим Заказчикам, является их многократное обращение к
      нам
    </p>

    <div class="grid grid-cols-3 gap-11">
      <div class="space-y-6"></div>

      <div class="space-y-6"></div>

      <div class="space-y-6"></div>
    </div>
  </div>
</section>
