<section
  id="about"
  class="flex xl:flex-row flex-col-reverse xl:justify-center xl:items-center xl:gap-10 gap-5"
>
  <img
    src="about.webp"
    alt="Растение"
    class="xl:w-[612px] w-full xl:h-[480px] h-[235px]"
  />

  <div class="xl:space-y-[50px] space-y-5 xl:w-[716px]">
    <h3>О компании</h3>

    <div
      class="xl:space-y-3.5 space-y-2 xl:text-lg text-base xl:leading-[23.4px] leading-[20.8px]"
    >
      <p>
        Наш рост начался с 2006 года с небольшой мастерской по ремонту
        турбокомпрессоров для сельскохозяйственной техники.<br /><br />
        На сегодняшний день предприятие «Влади-сервис» - это команда
        профессионалов, обеспечивающих оперативный и квалифицированный ремонт
        узлов и агрегатов для:
      </p>

      <ul>
        <li><span class="text-main">•</span> тракторов,</li>
        <li>
          <span class="text-main">•</span> зерноуборочных и кормоуборочных
          комбайнов,
        </li>
        <li><span class="text-main">•</span> дорожно-строительной техники,</li>
        <li>
          <span class="text-main">•</span> легковых и грузовых автомобилей
          белорусских, российских и зарубежных производителей.
        </li>
      </ul>

      <p>
        <span class="font-medium">Мы ремонтируем:</span> двигатели,
        турбокомпрессоры, пневмокомпрессоры, КПП, редукторы, гидравлику,
        стартеры и генераторы.<br /><br />
        Оказываем услуги юридическим лицам и индивидуальным предпринимателям
        Республики Беларусь и стран СНГ.
      </p>
    </div>
  </div>
</section>
