<div class="product-card">
    <img class="image-product" src="{=$img}" alt="{=$title}" />
  
    <div class="container-product">
      <div class="container-info">
        <p class="title">{=$title}</p>
  
        <p class="desc">{=$desc}</p>
      </div>
  
      <div class="container-info">
        <p class="title">{=$title2}</p>
  
        <p class="desc">{=$desc2}</p>
      </div>
  
      <div class="product-text">
        {=$text}<br />
        <ul class="text-list-product">
          {=$list}
        </ul>
      </div>
  
      <button class="main-button openModalForm">Записаться на ремонт</button>
    </div>
  </div>
  