<section id="product" class="bg-[#D6D6D6] xl:pt-[120px] pt-10 xl:pb-[120px] pb-[50px]">
  <div class="container-main xl:space-y-[50px] space-y-5">
    <h3 class="text-center">
      Краткий перечень ремонтируемых узлов и агрегатов.<br />
      Признаки неисправностей
    </h3>

    <div class="xl:space-y-20 space-y-5">
      <load
        src="src/components/Product/Card.html"
        title="Двигатели ВС"
        desc="ЯМЗ 236, 238, 236НЕ2, 238ДЕ2; ММЗ Д-240, Д-243, Д-245, Д-260;<br/>
        ГаЗ-52, 53, 3307, ПАЗ, ЗМЗ, ТМЗ, DETROIT, JOHN DEERE, PERKINS, DEUTZ"
        img="product1.webp"
        text="Основные признаки неисправностей ДВС:"
        list="<li>затрудненный пуск двигателя;</li><li>появление металлических стуков и разнообразных шумов;</li><li>перебои в работе двигателя, снижение мощности;</li><li>перерасход масла, изменение цвета отработанных газов</li>"
      />
      <load
        src="src/components/Product/Card2.html"
        title="Коробки ПП"
        title2="Редукторы"
        desc="МАЗ, МТЗ, ГаЗ 53,3307, 3309, Валдай, ПАЗ, ЗиЛ 130, 131, УАЗ, КАМАЗ,<br/> Газель, Соболь"
        img="product2.webp"
        text="Признаки неисправностей КПП:"
        list="<li>самопроизвольное включение или выключение передач;</li>
        <li>появление толчков при переключении;</li>
        <li>не возможность перейти с высшей передачи на низшую;</li>
        <li>утечка масла;</li>
        <li>шум при движении;</li>
        <li>отсутствие одной или нескольких передач</li>"
      />
      <load
        src="src/components/Product/Card3.html"
        title="Турбокомпрессоры"
        title2="Пневмокомпрессоры"
        desc="ТКР 6; 6.1Е-2; 7.00; 7Н-1Б,-2А; 8,5; 11Н1; 11Н3; 12;
        К-36,40; К-27; 238НБ, 240<br/> – и их модификации; HOLSET, GARRETT,
        SCHWITZER"
        desc2="ПК 310, 5336, А29 и их модификации"
        img="product3.webp"
        text="Основные признаки неисправностей ТКР:"
        list="<li>течь масла из турбокомпрессора или соединительных патрубков;</li>
        <li>повышенный расход масла, топлива;</li>
        <li>падение мощности двигателя;</li>
        <li>посторонний шум, повышенный шум, скрежет, свист;</li>
        <li>повышенная дымность выхлопа (черный, синий дым);</li>
        <li>ухудшение динамики разгона</li>"
      />
      <load
        src="src/components/Product/Card3.html"
        title="СТАРТЕРЫ"
        title2="Генераторы"
        desc="СТ 42, 230, 142, 3002, 24, 20, 2501, 74, 100, Искра и т.д."
        desc2="УАЗ, ГАЗ, МТЗ, МАЗ, КАМАЗ, ЯМЗ, Икарус, DETROIT, DEUTZ, JOHN DEER, CUMMINS, FENDT"
        img="product4.webp"
        text="Стартер неисправен, если:"
        list="<li>стартер активируется, но якорь не вращается;</li>
        <li>активируется втягивающее реле (щелкает), но стартер не вращается;</li>
        <li>втягивающее реле включается и сразу выключается;</li>
        <li>стартер работает, но со скрежетом;</li>
        <li>стартер не отключается после запуска двигателя;</li>
        <li>стартер не крутит, не издает никаких звуков</li>"
      />
      <load
        src="src/components/Product/Card4.html"
        title="Гидромоторы. Гидронасосы"
        img="product5.webp"
        text="Признаки неисправности гидромоторов:"
        list="<li>износ сальников и уплотнений;</li>
        <li>течь масла;</li>
        <li>вспенивание масла, появление крупной металлической стружки;</li>
        <li>не свойственный шум и вибрация гидромотора;</li>
        <li>гидросистема не развивает должного давления;</li>
        <li>низкая производительность исполнительного механизма;</li>
        <li>рывки при движении рабочего механизма</li>"
      />
      <load
        src="src/components/Product/Card4.html"
        title="Топливная аппаратура. Гидроцилиндры. 
        Гидрораспределители"
        img="product6.webp"
        text="Признаки неисправностей гидроцилиндров:"
        list="<li>поршневой шток забит;</li>
      <li>гнутый поршневой шток;</li>
      <li>износ стержня штока с одной стороны;</li>
      <li>разгерметизация корпуса, утечка жидкости, потеря давления;</li>
      <li>не герметичность резьбовых соединений;</li>
      <li>износ сальниковых уплотнений</li>"
      />
    </div>
  </div>
</section>
