<div
  id="headerMobileMenu"
  class="xl:hidden flex flex-col text-main text-[24px] transition-all duration-1000 -translate-x-full opacity-0 headerMenu z-[1] font-bold leading-[31.2px] fixed h-screen w-full bg-[#000000B2] backdrop-blur-sm pt-[106px] pl-10"
>
  <nav class="header-nav-mobile-menu">
    <ul class="flex flex-col gap-5">
      <li>
        <a href="#about">О компании</a>
      </li>

      <li>
        <a href="#edge">Преимущества</a>
      </li>

      <li>
        <a href="#service">Услуги</a>
      </li>

      <li>
        <a href="#product">Признаки неисправностей</a>
      </li>

      <li>
        <a href="#stages">Этапы работы</a>
      </li>

      <li>
        <a href="#recomend">Нас рекомендуют</a>
      </li>

      <li>
        <a href="#contact">Контакты</a>
      </li>
    </ul>
  </nav>
</div>
